* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-font-orange : #FF9900;
    --color-border: #ECEFF2;
    --color-parag: #7D7987;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

main img {
    width: 348px;
}


span {
    color: var(--color-font-orange);
}

main {
    margin: 33px;
}

main h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 49px;
    padding: 72px 0px 32px;
}

main p {
    color: var(--color-parag);
    padding: 0 46px 28px;

}

footer {
    border-top: 1px solid var(--color-border);
    display: inline-flex;
    flex-direction:row;
    justify-content: center;
    gap: 36px;
}
footer a {
    margin-top: 20px;
    color: var(--color-font-orange);
}
#bolinhas {
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
}