@media (min-width:1120px){

    main {
        margin-top: 9rem;
        flex-direction: row;
        gap: 16rem;
        max-width: fit-content;
    }

    .recipe {
        max-width: 43.5rem;
    }
    .ingredients {
        max-width: 52.5rem;
    }

    /* h1, h2 {
        font-size: 4rem;
        line-height: 5rem;
    }

    p, li, strong {
        font-size: 2rem;
        line-height: 2.5rem;
    } */

    button {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}