* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-span: #EE24FF;
}

body {
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 626px;
    padding-top: 64px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

main h1 {
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: 500;

    flex-wrap: wrap;
}

p{
    color: #828282;
    line-height: 22px;
    margin-bottom: 32px;
    font-weight: 400;

    flex-wrap: wrap;
}

p, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.850rem;
}

main img {
    margin-bottom: 32px;
}

span {
    color: var(--color-span);
    font-weight: bold;
}

strong {
    color: #3F3D56;
}

#line {
    border: 1px solid #ECEFF2;
    max-width: 391px;
    margin: 0 auto 16px;
}

footer {
    margin: 64px auto 42px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 42px;
}

footer li {
    transition: all .2s;
}
footer li:hover{
    color: var(--color-span);
    transform: scale(1.1);
}

footer a {
    text-decoration: none;
    color: #3F3D56;
    font-weight: bold;
    font-size: 0.8rem;
}


#wave {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media (max-width:380px){
    main img {
        width: 300px;
    }

    footer ul {
        gap: 10px;
        flex-direction: column;
    }

    #wave{
        display: none;
    }

}